{% extends 'base.html' %}

{% block content %}
<section class="bg-dark text-light text-center shadow" style="background-image: url('../../static/images/pexels-photo-front desk of a library.jpeg'); background-size: contain; background-position: center; height: 100vh; display: flex; align-items: center; justify-content: center;">
    <div class="container p-5">
        <div class="row">
            <div class="d-md-flex align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Welcome to Your Plant Inventory</h1>
            </div>
        </div>
    </div>
</section>
{% endblock %}